---
import RNIcon from "../icons/ReactNative.astro";
import JSIcon from "../icons/JS.astro";
import MDBIcon from "../icons/MongoDB.astro";
import NodeIcon from "../icons/Node.astro";
import ExpoIcon from "../icons/Expo.astro";
import ViteIcon from "../icons/Vite.astro";
import TailWindIcon from "../icons/TailWind.astro";
import AxiosIcon from "../icons/Axios.astro";
import ExpressIcon from "../icons/Express.astro";
import GitHubIcon from "../icons/GitHub.astro";

const PROYECTOS = [
{
    title: "AppTail",
    descripcion: "Aplicación para dispositivos moviles (IOS y Android), hecha con React Native y Expo para el FrontEnd, además de un pequeño BackEnd realizado con Node, Express y MongoDB. Esté proyecto lo desarrolle inspirado en un proyecto anterior, por que tenia curiosidad de usar React Native con Expo, ya que corre tanto en IOS como en Android, el proceso de desarollo fue interesante y considero React Native y Expo grandes herramientas",
    funcionalidades: ["Login con Usuarios y validación","Creación de Usuarios","Creación de tareas", "Agregar Colaboradores a las tareas",
        "Resumen de Tareas con iconos", "Editar y eliminar la Tarea", "Barra de busqueda funcional"],
    link: "#",
    github: "https://github.com/BossBonny/AppTail_App",
    images: ["/public/imgs/login-app.webp", "/public/imgs/inicio-app.webp", "/public/imgs/searchbar-app.webp"],
    tags: ["React", "Expo", "JavaScript", "Node","MongoDB", "Axios", "Express", "Cors"],
},
{
    title: "UpTask",
    descripcion: "Página web para gestionar Proyectos, realizada con React y TailWIndCSS para el FrontEnd, además de un BackEnd realizado con Node, Express y MongoDB. Ha sido mi primer proyecto Fullstack (concretamente MERN Stack), ya que desde cero he realizado tanto el frontend como el backend",
    funcionalidades: ["Login con Usuarios y validación","Creación de Usuarios", , "Funcionalidad de recuperar Contraseña", 
        "Actualización inmediata de los proyectos mediante Socket.io","Creación de proyectos y tareas", "Agregar Colaboradores a los proyectos",
        "Editar y eliminar proyectos y tareas"],
    link: "#",
    github: "https://github.com/BossBonny/Up_Task_MERN_frontend",
    images: ["/public/imgs/UpTask-Login.webp", "/public/imgs/UpTask-Inicio.webp","/public/imgs/UpTask-Proyecto.webp"],
    tags: ["React", "JavaScript", "Node", "MongoDB", "TailWindCSS", "Vite", "Axios","Express"],
},
{
    title: "Buscador-Bebidas",
    descripcion: "Página web para buscar recetas de bebidas alcoholicás, con distintas categorías para elegir la combinación que te apetezca, Adémas viene la receta que debes usar para la preparación, todos los datos han sido sacados de una API.",
    funcionalidades: ["Buscador de bebida por categoría y nombre","Receta de cada Bebida listada"],
    link: "#",
    github: "https://github.com/BossBonny/BuscadorBebidas",
    images: ["/public/imgs/BuscadorBebidas-inicio.webp","/public/imgs/BuscadorBebidas-search.webp","/public/imgs/BuscadorBebidas-Receta.webp"],
    tags: ["React","JavaScript","Node","Vite"],
},
{
    title: "Conversor-Cripto",
    descripcion: "Página web para ver el valor de una selección de criptomonedas (BitCoin, Ethereum, Solana, etc...) a distintos tipos de divisas (Euro, dollar, yen, etc...). Para la realización de esta aplicación use una API gratuita que me suministraba los datos.",
    funcionalidades: ["Saber el valor de cada Criptomoneda en la divisa requerida"],
    link: "#",
    github: "https://github.com/BossBonny/Conversor-Criptos",
    images: ["/public/imgs/Criptos-Inicio.webp","/public/imgs/Criptos-search.webp"],
    tags: ["React","JavaScript","Node","Vite"],
},
];
---

<ol class="relative border-gray-200 dark:border-gray-700 mb-20 mt-50">
    {PROYECTOS.map(({title, descripcion, tags, images, funcionalidades,github }) => 
        <article class="mb-20">
            <div>
                <h1 class="text-xl font-semibold text-purple-400 mb-5">{title}</h1>
                <p class="text-10 lg:text-14">{descripcion}</p>
                <h2 class="text-md lg:text-base mr-4 text-blue-300 mt-5">
                    Funcionalidades:
                </h2>
                <ul class="py-3">
                    {funcionalidades.map( fun => 
                        <div
                            class="ml-5 absolute size-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                        </div>
                        <li class="ml-10">
                            {fun}
                        </li>
                    )}
                </ul>
                <ul class="flex mt-8 flex-wrap mb-5">
                    <h2 class="text-md lg:text-base mr-4 text-blue-200">
                        Tecnologías Utilizadas:
                    </h2>
                    {tags.map( tag => 
                        <li class="mr-2">
                            {tag === "React" && <RNIcon/>}
                            {tag === "Expo" && <ExpoIcon/>}
                            {tag === "JavaScript" && <JSIcon/>}
                            {tag === "MongoDB" && <MDBIcon/>}
                            {tag === "Node" && <NodeIcon/>}
                            {tag === "TailWindCSS" && <TailWindIcon/>}
                            {tag === "Vite" && <ViteIcon/>}
                            {tag === "Axios" && <AxiosIcon/>}
                            {tag === "Express" && <ExpressIcon/>}
                        </li>
                    )}
                </ul>
            </div>
            <nav class="flex gap-4 mt-8 flex-wrap">
                {title === "AppTail" && images.map( img => 
                    <img class="h-[300px] w-[150px] lg:h-[550px] lg:w-[250px]" src={img} alt="captura de pantalla del proyecto"/>)}
                {title !== "AppTail" && images.map( img => 
                    <img class="h-50 w-40 lg:h-70 lg:w-60" src={img} alt="captura de pantalla del proyecto"/>)}
            </nav>
            <div class="my-20 items-center flex gap-x-10">
                <h1 class="text-indigo-500 text-md font-semibold">Mira el codigo en mi github: </h1>
                <a target="_blank"  rel="noopener" class="text-xl font-bold flex flex-wrap" href={github}><GitHubIcon class="size-6 mr-1"/>{title}</a>
            </div>
            <hr class="h-px my-20 bg-gray-200 border-0 dark:bg-gray-700"/>
        </article>
    )}
</ol>
